extends layout

block content
  h1= title
  - var results = [{Alcohol_type: "Guitar", brand: "Fender", price: 500},{Alcohol_type: "Drums", brand: "Pearl", price: 1200},{Alcohol_type: "Keyboard", brand: "Roland", price: 800}]

  .container-fluid
    .row
      each f,index in results 
        .col-sm-2(onclick=`buy(${index})`)
          | #{f.Alcohol_type}, #{f.brand}, $#{f.price}
          
  script.
    function buy(index) {
      alert(`You purchased Item: ${index+1}`);
    }